@import "../../css/reset.css";
body {
  color: #030303;
  background: #f4f4f4;
}
h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 15px;
  word-wrap: break-word;
}
.content {
  width: 100%;
  padding: 15px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
}
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.viewed {
  font-size: 14px;
  color: #606060;
  margin-top: 10px;
}
.viewed > svg {
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.viewed > span {
  display: inline-block;
  vertical-align: middle;
}
#night-mode {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#night-mode > svg {
  height: 20px;
  display: block;
}
.night body {
  color: #fff;
  background: #181818;
}
.night .content {
  background: #202021;
  border-color: transparent;
}
.night .viewed {
  color: #aaa;
}
