<!DOCTYPE html>
<html lang="ru" class="night">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/video.css" />
  </head>
  <body>
    <div class="content">
      <div class="iframe-container">
        <iframe
          src="https://csst.online/embed/111448/"
          width="720"
          height="400"
          frameborder="0"
          allowfullscreen
          webkitallowfullscreen
          mozallowfullscreen
          oallowfullscreen
          msallowfullscreen
        ></iframe>
      </div>

      <h1>
        Звёздные войны: Войны клонов (мультфильм, 2020) - официальный трейлер
      </h1>

      <div class="viewed" title="Просмотров">
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="far"
          data-icon="eye"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 576 512"
        >
          <path
            fill="currentColor"
            d="M288 144a110.94 110.94 0 0 0-31.24 5 55.4 55.4 0 0 1 7.24 27 56 56 0 0 1-56 56 55.4 55.4 0 0 1-27-7.24A111.71 111.71 0 1 0 288 144zm284.52 97.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400c-98.65 0-189.09-55-237.93-144C98.91 167 189.34 112 288 112s189.09 55 237.93 144C477.1 345 386.66 400 288 400z"
            class=""
          ></path>
        </svg>
        <span>35</span>
      </div>
    </div>

    <a href="javascript:;" id="night-mode">
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="far"
        data-icon="moon"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <path
          fill="currentColor"
          d="M279.135 512c78.756 0 150.982-35.804 198.844-94.775 28.27-34.831-2.558-85.722-46.249-77.401-82.348 15.683-158.272-47.268-158.272-130.792 0-48.424 26.06-92.292 67.434-115.836 38.745-22.05 28.999-80.788-15.022-88.919A257.936 257.936 0 0 0 279.135 0c-141.36 0-256 114.575-256 256 0 141.36 114.576 256 256 256zm0-464c12.985 0 25.689 1.201 38.016 3.478-54.76 31.163-91.693 90.042-91.693 157.554 0 113.848 103.641 199.2 215.252 177.944C402.574 433.964 344.366 464 279.135 464c-114.875 0-208-93.125-208-208s93.125-208 208-208z"
          class=""
        ></path>
      </svg>
    </a>

    <script>
      (function() {
        var nightMode = document.getElementById("night-mode");
        nightMode.addEventListener("click", toggleNight);

        function toggleNight(e) {
          e.preventDefault();
          document.querySelector("html").classList.toggle("night");
        }
      })();
    </script>
  </body>
</html>
