<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/video.css" />
  </head>
  <body>
    <div class="container">
      <div class="iframe-container">
        <iframe
          src="https://csst.online/embed/111448/"
          width="720"
          height="400"
          frameborder="0"
          allowfullscreen
          webkitallowfullscreen
          mozallowfullscreen
          oallowfullscreen
          msallowfullscreen
        ></iframe>
      </div>

      <h1>
        Звёздные войны: Войны клонов (мультфильм, 2020) - официальный трейлер
      </h1>
    </div>
  </body>
</html>
